package components

templ Layout() {
	@HtmlWrapper() {
		@header()
		{ children... }
	}
}

templ HtmlWrapper() {
	<html>
		<head>
			<title>Knowles Glass & Glazing</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link
				href="/public/styles.css"
				rel="stylesheet"
			/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
